{% load render_partial %}
  {% render_partial 'header'  %}
{##}
{#<!DOCTYPE html>#}
{#<html lang="fa" dir="rtl" class="font-vazir">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#  <title>پیشخوان خدمات - سیستم جامع دانشگاهی گلستان</title>#}
{#  <script src="https://cdn.tailwindcss.com"></script>#}
{#  <link rel="stylesheet" href="css/globals.css">#}
{#  <script>#}
{#    tailwind.config = {#}
{#      darkMode: 'class',#}
{#      theme: {#}
{#        extend: {#}
{#          fontFamily: {#}
{#            vazir: ['"Vazirmatn"', 'sans-serif'],#}
{#          },#}
{#        },#}
{#      },#}
{#    }#}
{#  </script>#}
{#</head>#}
{% block contents %}

{% endblock %}

